@fontface {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600');
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600');

body {
  font-weight: 100 !important;
  font-family: 'Open Sans';
  background-color: #f7f7f7 !important;
  padding-top: 10px !important;
}

.section-boxes {
  background-color: white;
  padding: 1px 20px 20px 20px;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: -15px;
}

.section-boxes-aside {
  background-color: white;
  padding: 10px 20px 20px 20px;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 0px;
}

hr {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

h1, h3, h4 {
  font-weight: 100 !important;
}

.dates {
  color: lightgray;
}

.entity-name {
  font-weight: 400 !important;
}

.icon-box {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  padding-top: 5px;
  text-align: center;
  background-color: lightgray;
  color: white;
}

.header-row {
  display: inline-block;
}

.profile-pic {
  max-width: 200px !important;
  border-radius: 100px;
  margin: 10px;
}

.contact-icons {
  padding: 5px;
  margin: 5px;
  color: gray;
}

.contact-icons:hover {
  color: darkgreen;
}

