@fontface {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600');
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600');

body {
  font-weight: 300 !important;
  font-family: 'Open Sans';
  background-color: #f7f7f7 !important;
  padding-top: 10px !important;
}

.section-boxes {
  background-color: white;
  padding: 1px 20px 20px 20px;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: -15px;
}

.section-boxes-aside {
  background-color: white;
  padding: 20px 20px 20px 20px;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-right: 0px;
}

.hr-right-side {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

h1, h3, h4 {
  font-weight: 100 !important;
}

.dates {
  color: lightgray;
}

.entity-name {
  font-weight: 400 !important;
}

.icon-box {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  padding-top: 5px;
  text-align: center;
  background-color: lightgray;
  color: white;
}

.header-row {
  display: inline-block;
}

.profile-pic {
  max-width: 200px !important;
  border-radius: 100px;
  margin: 10px;
}

/* Transitions/Animations */ 
.profileimg-appear {
  opacity: 0.01;
}

.profileimg-appear.profileimg-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.profile-appear {
  opacity: 0.01;
  transform: translate(-5%);
}

.profile-appear.profile-appear-active {
  opacity: 1;
  transform: translate(0%);
  transition: transform 300ms ease-in-out;
}

.rightSide-appear {
  opacity: 0.01;
  transform: translate(5%);
}

.rightSide-appear.rightSide-appear-active {
  opacity: 1;
  transform: translate(0%);
  transition: transform 300ms ease-in-out;  
}

/* icons */

.contact-icons {
  padding: 5px;
  margin: 5px;
}

.email-icon {
  color: gray;
}

.email-icon:hover {
  color: black;
}

.twitter-icon {
  color: gray;
}

.twitter-icon:hover {
  color: rgb(29,161,242);
}

.github-icon {
  color: gray;
}

.github-icon:hover {
  color: black;
}

.linkedin-icon {
  color: gray;
}

.linkedin-icon:hover {
  color: rgb(0,119,181);
}

.instagram-icon {
  color: gray;
}

.instagram-icon:hover {
  color: black;
}

.port-tools-list {
  display: inline-block;
}

.port-icon {
  display: inline-block;
  max-width: 24px;
  max-height: 24px;
  margin-right: 10px;
}

.port-title {
  display: inline-block;
}

@media (max-width: 425px) {
  .section-boxes {
    margin-left: 0px;
  }
}

